@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'ostrichbold';
src: url('./assets/fonts/ostrich-sans/OstrichSans-Bold.otf')     
    format('opentype'),      
}

@font-face {
    font-family: 'ostrichmedium';
src: url('./assets/fonts/ostrich-sans/OstrichSans-Medium.otf')
     format('truetype');    
}


body {
    @apply font-outfit;
    background-color: #f5fffa;
}
